@import url("https://fonts.googleapis.com/css?family=League+Spartan:font-weight@100;200;300;400;500;60;700;800;900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
    
}

h1 {
    font-size: 50px;
    line-height: 65px;
    color:black
}
h2 {
    font-size: 46px;
    line-height: 55px;
    color:black
}


h4 {
    font-size: 20px;
    color:black
}

h6 {
    font-weight 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #12121222;
    margin: 20px 0 25px 0;
}

body{
    width: 100%
}


#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e7e7e7;
    box-shadow: 0 7px 12px rgba(0, 0, 0, 0.08);
}

#nav-container {
    display: flex;
    align-items: center;
  }
  
  #navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: auto;
  }
  
  #navbar li {
    margin-left: 25px;
  }
  
  
  #navbar li a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 666;
    color: #1a1a1a;
    transition: 0.5 ease; 
  }
  
  #navbar li a:hover, #navbar li a.active {
    color: #4d72c4;
  }
  
  #cart img {
    vertical-align: middle;
    width: 40px;
  }
  

  /*hero*/
  #hero{
    background-image: url(simon-berger-twukN12EN7c-unsplash.jpg);
    height: 84vh;
    width: 100%;
    padding: 0 80px;
    background-position: top 25% right 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-shadow: 0 8px 13px rgba(0, 0, 0, 0,08);
  }

  #hero p{
    color: black;
  }

  #hero h1{
    color: #4d72c4;
  }
  #hero h4{
    padding-bottom: 20px;
  }
  #hero button{
    background-color: #4d72c4;
    border: 0;
    padding: 4px;
    width: 90px;
    height: 40px;
    font-size: 18px;
  }

  #featured{
    display:flex;
    align-items: center;
    justify-content: center;
  }