@import url("https://fonts.googleapis.com/css?family=League+Spartan:font-weight@100;200;300;400;500;60;700;800;900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", sans-serif;
    
}

h1 {
    font-size: 50px;
    line-height: 65px;
    color:black
}
h2 {
    font-size: 46px;
    line-height: 55px;
    color:black
}


h4 {
    font-size: 20px;
    color:black
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: black;
    margin: 20px 0 25px 0;
}

button.normal{
  font-size: 18px;
  font-weight: 666;
  padding: 15px 30px;
  color: black;
  background-color: white;
  border-radius: 4px;
  cursor:pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

body{
    width: 100%;
}

.section-p1{
  padding: 40px 80px;
  
}
.section-m1{
  margin: 40px 0;
}


#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e7e7e7;
    box-shadow: 0 7px 12px rgba(0, 0, 0, 0.08);
    position: relative;
}

#header-title {
  font-size: 24px;
  font-weight: 650;
  position: absolute;
  top: 22px;
  left: 30%;
  color:#4d72c4;
}

#nav-container {
    display: flex;
    align-items: center;
  }
  
  #navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: auto;
  }

  #navbar.active{
    right: 0px;
    transition: 0.4s;
  }
  
  #navbar li {
    margin-left: 25px;
  }
  
  
  #navbar li a {
    text-decoration: none;
    font-size: 24px;
    font-weight: 666;
    color: #1a1a1a;
    transition: 0.5 ease; 
  }
  
  #navbar li a:hover, #navbar li a.active {
    color: #4d72c4;
  }
  
  #mobile{
    display: none;
    align-items: center;
  }

  #close{
    display: none;
  }

  

  #navbar .cart1{
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background: #e7e7e7;
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: 0.3s ease;
  }

  .cart1.active{
    right: 0;
  }
  
  #navbar .cart-title{
    text-align: center; 
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
  }

  #navbar .cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;

  }

  .cart-img{
    width: 100px;
    object-fit: contain;
    padding: 10px;
  }

  #detail-box{
    display: grid;
    row-gap: 0.5rem;
  }

.cart-product-title{
  font-size: 1.2rem;
  text-transform:uppercase;
}
  .cart-price{
    font-weight: 500;

  }

  .cart-quantity{
    border: 1px solid black;
    outline-color: #4d72c4;
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
  }

  .cart-remove{
    font-size: 24px;
    color: #4d72c4;
    cursor: pointer;
  }

  .total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid black;
    padding-top: 6px;
  }

  .total-title{
    font-size: 1rem;
    font-weight: 600;
  }

  .total-price{
    margin-left: 0.5rem;

  }

  .button-buy{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background-color: #4d72c4;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
  }

  .button-buy:hover{
    background-color: #000;
  }

  #close-cart{
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: black;
    cursor: pointer;
  }






  /*hero*/
  #hero{
    background-image: url(simon-berger-twukN12EN7c-unsplash.jpg);
    height: 90vh;
    width: 100%;
    padding: 0 80px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-shadow: 0 8px 13px rgba(0, 0, 0, 0,08);
  }

  #hero p{
    color: black;
  }

  #hero h1{
    color: #4d72c4;
  }
  #hero h4{
    padding-bottom: 20px;
  }
  #hero button{
    background-color: #4d72c4;
    border: 0;
    padding: 4px;
    width: 90px;
    height: 40px;
    font-size: 18px;
  }

  #featured1{
    text-align: center;
    background-color: #e7e7e7;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  #featured1 .feat-container{
    display:flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
  }

  #featured1 .feature{
    width: 21%;
    min-width: 250px;
    padding: 10px 15px;
    border: 1px solid rgb(68, 68, 68);
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 25px rgba(0, 0, 0, 0.04);
    transition: 0.4s ease;
    margin: 15px 0;
    position: relative;
  }

  #featured1 .pro:hover{
    box-shadow: 20px 20px 25px rgba(0, 0, 0, 0.08)
  }

  #featured1 .feature img{
    width:100%;
    border-radius: 20px;
    height: 80%;
  }

  #featured1 .feature .description{
    text-align: stat;
    padding: 15px 0;
  }

  #featured1 .feature .description span{
    color:#1a1a1a;
    font-size: 12px;
  }

  #featured1 .feature .description h5{
    padding-top: 9px;
    color: #1a1a1a;
    font-size: 16px;
  }

  #featured1 .feature .description i{
    font-size: 12px;
    color: rgb(240, 180, 25)
  }

  #featured1 .feature .description h4{
    padding-top: 6px;
    font-size: 16px;
    color:#4d72c4;
    font-weight: 666;
  }
  #featured1 .feature .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    bottom: 30px;
    right: 20px;
    border-radius: 50px;
    background-color: #e8f6ea;
    color:#4d72c4;
  }

  #featured1 .feature .cart:hover{
    background-color: #4d72c4;
    color: white;
  }


  #banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(simon-berger-twukN12EN7c-unsplash.jpg);
    width: 100%;
    height: 55vh;
    background-size: cover;
    background-position: center;
  }

  #banner h4 {
    color: #000;
    font-size: 16px;
  }

  #banner h2 {
    color: #000;
    font-size: 30px;
    padding: 10px 0;
  }

  #banner h2 span{
    color: #4d72c4;
  }

  #banner button:hover{
    background:#4d72c4;
    color:#fff;
  }

  #footer{
    background: #4d72c4;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #footer .column{
    display:flex;
    flex-direction: column;  
    align-items: flex-start;
    margin-bottom: 25px;
  }
  
  #footer h4{
    font-size: 18px;
    padding-bottom: 20px;

  }

  #footer p{
    font-size: 15px;
    color:#000;
    margin: 0 0 8px 0;
  }

  #footer .follow i{
    margin-top:20px;
    padding-right: 5px;
    cursor: pointer;
  }

  #footer .follow i:hover, footer a:hover{
    color: #a2b2d5;
  }

  #footer a{
    font-size: 14px;
    text-decoration: none;
    margin: 0 0 10px 0;
    color: #222;
    margin-bottom: 15px;
  }
  

  #footer img{
    padding-bottom: 10px;
  }
  

  /*shop delen*/
  #page-header{
    background-image: url(bannertest.png);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding: 15px; 
  }

  #page-header h2, #page-header p{
    color: black;
  }

  #productdetails .single-proudct-image{
    width: 40%;
    margin-right: 50px;
  }

  .small-img-group{
    display: flex;
    justify-content: space-between;
    height: 80%
  }

  .small-img-column{
    flex-basis: 24%;
    cursor: pointer;
  }


  /* single product */

  #productdetails{
    display:flex;
    margin-top: 20px;
  }

  #productdetails .single-product-details{
    width: 50%;
    padding-top: 30px;
  }

  #productdetails .single-product-details h4{
    padding: 40px 0 25px 0;
  }
  #productdetails .single-product-details h2{
    font-size: 28px;
  }

  #productdetails .single-product-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
  }

  #productdetails .single-product-details input{
    width: 50px;
    height: 50px;
    padding-left: 10px;
    font-size: 18px;
    margin-right: 10px;
  }

  #productdetails .single-product-details button{
    color: white;
    background-color: #4d72c4;
  }

  #productdetails .single-product-details span{
    line-height: 27px;

  }


  /*about*/
  #about-header{
    background-image: url(chris-stenger-fvJwchRL6xw-unsplash.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    padding: 15px; 
  }

  #about-header h2, #about-header p{
    color: white;
  }

  #aboutus{
    display:flex;
    align-items: center;
  }

  #aboutus img{
    width: 30%;
    height:auto;
  }

  #aboutus p{
    font-size: 18px;
  }

  #aboutus div{
    padding-left: 45px;
  }

  #about-magnus{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #about-magnus .video{
    margin: 30px auto 0 auto;
    width: 100%;
    height: 100%;
  }




  #contact-page{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #contact-page .details{
    padding-left: 50px;
  }

  #contact-page map iframe{
    width: 100%;
    height: 100%
  }

  #contact-details button{
    background-color: #4d72c4;
    color: white;
  }

  #contact-details{
    display: flex;
    justify-content: space-between;
    margin: 40px;
    padding: 80px;
    border: 1px solid #e1e1e1;
  }

  #contact-details form{
    width: 65%;
    display:flex; 
    flex-direction: column;
    align-items: flex-start;
  }

  #contact-details span{
    font-size: 18px;
  }

  #contact-page .details h2, #contact-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding:20px 0;
  }

  #contact-details form input, #contact-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
  }

  #contact-details .members div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
  }
  
  #contact-details .members div img{
    width: 75px;
    height: 75px;
    object-fit: cover;
    margin-right: 25px;
  }

  #contact-details .members div p{
    margin: 0;
    font-size: 16px;
    line-height: 27px;
  }

  #contact-details .members div p span{
    display: block;
    font-size: 20px;
    font-weight: 666;
    color: black;
  }


  /*cart*/

  #cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
  }

  #cart table img{
    width: 70px;
  }

  #cart table td:nth-child(1){
    width: 100px;
    text-align: center;
  }

  #cart table td:nth-child(2){
    width: 150px;
    text-align: center;
  }

  #cart table td:nth-child(3){
    width: 250px;
    text-align: center;
  }

  #cart table td:nth-child(4),#cart table td:nth-child(5),#cart table td:nth-child(6){
    width: 150px;
    text-align: center;
  }

  #cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
  }

  #cart table thead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
  }

  #cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    padding:21px 0;
  }

  #cart table tbody tr td {
    padding-top: 22px;
  }

  #cart table tbody td {
    font-size: 13px;
  }






  /* media */
  @media (max-width:799px) {
    #navbar {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: fixed;
      top: 0;
      right: -300px;
      height: 100vh;
      width: 300px;
      background-color: #e7e7e7;
      box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
      padding: 80px 0 0 10px;
    }

    #navbar li{
      margin-bottom: 25px;
    }

    #mobile{
      display:flex;
      align-items: center;

    }

    #mobile i{
      color: #1a1a1a;
      font-size: 25px;
      padding-left: 20px;
    }

    #close{
      display: initial;
      position: absolute;
      top: 30px;
      left: 30px;
      color: #222;
      font-size: 24px;
      transition: ease 0.4s;
    }

    #media-bag{
      display: none;
    }
  }